.features {

}

.features__title {
  .large-title(black, 60px);

  margin-top: 20px;
  margin-bottom: 25px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
}

.features__description {
  .small-text(#444444);

  padding-bottom: 30px;
  margin: 0;
}
